<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blog Title<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag 'highlighting' %>
    <%= stylesheet_link_tag 'all' %>
  </head>
  <body>

    <%= partial 'layouts/article_navigation' %>
    <div class="article-main w3-padding-large">
      <% if current_page.data.image %>
        <div id="banner" class="row">
          <%= tag :img, :src => current_page.data.image, class: "article-img center-block" %>
        </div>
      <% end %>
      <div class="w3-container">
        <div class="w3-row">
          <div class="w3-col l8 s12 article-content">
            <h1 class="text-center"><%= current_page.data.title %></h1>
            <p class="text-center"><small class="article-post-meta">Updated <%= time_ago_in_words(current_page.data.date) %> ago</small></p>
            <hr>
            <%= yield %>
          </div>
          <div class="w3-col l4">
            <div class="w3-margin w3-border">
              <div class="w3-container w3-padding w3-theme-l5">
                <h4>Recent Articles</h4>

              </div>
                <% blog.articles[0...3].each do |article| %>
                  <ul class="w3-ul w3-hoverable w3-white">
                    <li class="w3-padding-16 w3-border-bottom">
                      <p><%= link_to article.title, article %></p>
                        <small class="article-post-meta"><%= time_ago_in_words(article.date) %> ago</small>
                    </li>
                  </ul>
                <% end %>
            </div>
            <div class="w3-margin w3-border">
              <div class="w3-container w3-padding w3-theme-l5">
                <h4>Tags</h4>
              </div>
              <div class="w3-container w3-padding-16">
                <% blog.tags.each do |tag, articles| %>
                <span class="w3-tag w3-light-grey w3-margin-bottom"><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></span>
                <% end %>
              </div>
            </div>
          </div>
        </div><!-- /.row -->
        <div class="w3-row">
          <div class="w3-col l8 s12">
            <%= partial 'layouts/disqus' %>
            <!-- <a href="http://example.com/bar.html#disqus_thread">Link</a> -->
          </div>
        </div><!-- /.row -->
      </div><!-- /.container -->
      <script id="dsq-count-scr" src="//garciajames.disqus.com/count.js" async></script>
    </div>
    <%= partial 'layouts/article_footer' %>

<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<%= javascript_include_tag "site" %>
</body>
</html>
